.img-logo {
	width: 100px;
	padding: 20px;
}

.img-logototo {
	width: 200px;
}

.left_logo {
	position: absolute;
	margin-left: -30px;
	z-index: 2;
	text-align: end;
}

.right_logo {
	position: relative;
	z-index: 3;
	text-align: end;
}
